.section { height:704px; }

.left { width:65%; }

.right { width: 35%; }

.title {
    font-size:88px;
    margin-bottom:16px;
}

.texts {
    margin-left:10%;
    margin-right:10%;
}

.pictureContainer {
  border-radius:24px;
  max-height:90%;
  max-width:80%;
  height:auto;
  width:auto;
}
