:root {
  max-width:100vw;

  --theme-black:#252525;
  --theme-grey:#5D5D5D;
  --off-white:#F1F1F1;
  --creme:#FFF5EA;

  --font-size-sm:1.0rem;
  --font-size-md:1.35rem;
  --font-size-la:1.5rem;
}

/* Component-based */
main {
  top:0px;
}

/* Custom Component */
.full-width {
  width:100vw;
}

.row {
  display:flex;
  flex-direction:row;
}

.flex-center-children {
  display:flex;
  justify-content:center;
  align-items:center;
}

 /* Colours */

 .black-white {
  background-color:var(--theme-black);
  color:white;
 }
 .white-black {
  background-color:white;
  color:var(--theme-black);
 }