:root {
  max-width:100vw;

  --theme-black:#252525;
  --theme-grey:#5D5D5D;
}

/* Component-based */
main {
  top:0px;
}

/* Custom Component */
.full-width {
  width:100vw;
}

.row {
  display:flex;
  flex-direction:row;
}

.flex-center-children {
  display:flex;
  justify-content:center;
  align-items:center;
}

 /* Colours */

.white-background { background-color:white; }
.black-background { background-color:var(--theme-black) }
.white-contents { color:white; }
.black-contents { color:var(--theme-black); }